// CUSTOM STYLES
// -----

h1.maintitle{
	color:@fhdRed;
}

h1.maintitle span{
	color:@black;
	font-weight:normal;
	font-family:@pacifico;
}

//brand font styling
.navbar .brand{
	color:@fhdRed;
}

.navbar .brand span{
    font-family:@pacifico;
    color:@white;
}