/*
 * meinFHD 2.0
 *
 * Konstantin Voth
 * Copyright 2012
 *
 */

/* 
 * CSS Style
 * Tweaks/Anpassungen der Bootstrap Library/Framework für meinFHD2
 */

body {

}


#studienplan {

	// table {
	// 	td {
	// 		vertical-align: top;

	// 		padding-right: 5px;
	// 		padding-left: 5px;
	// 		border-right: 1px solid #85da85;
	// 	}
	// }

	// li {
	// 	// border-bottom: 1px solid #85da85;
	// }
	
}

// --------------------------------------------------------

/* ul for every semester */
.semesterplanspalte {
	// width: @stupla-modul_width + 30;
	// // float: left;
	padding-bottom: @stupla-modul_height;

}
// --------------------------------------------------------

#studienplaneinstellungen {
	// margin-bottom: 30px;
}

// --------------------------------------------------------

@stupla-modul_color-grey: #AAA;
@stupla-modul_color-placeholder: #bbb;

@stupla-modul_width: 110px;
@stupla-modul_height: 40px;

.semestermodul {
	position: relative;

	cursor: pointer;

	// width: @stupla-modul_width;
	height: @stupla-modul_height;

	.buttonBackground(#CCC, #BBB);

	margin-top: 5px;
	margin-bottom: 5px;

	border: 1px solid grey;
	.border-radius(4px);

	span {
		display: block;
		text-align: left;
	}

	.arrw {
		position: absolute;
			left: 3px;
			top: 0px;
	}

	// main class for hoeren/pruefen buttons
	.b {
		border-left: 1px solid grey;
		border-right: 1px solid grey;
		border-bottom: 1px solid grey;

		text-align: center;
		color: black;
		line-height: 8px;
		font-size: 8px;
		// font-weight: 800;

		width: 25px;
		height: 10px;
		padding-top: 1px;
		// padding-bottom: 2px;

		.border-radius(2px);
	}

	// pruefen button
	.b_pruefen {
		.b;

		.buttonBackground(#AAA, #777);

		position: absolute;
			top: 0;
			right: 3px;

	}

	// hoeren button
	.b_hoeren {
		.b;

		.buttonBackground(#AAA, #777);

		position: absolute;
			top: 0;
			right: 33px;
	}

	// active version of pruefen/hoeren
	.b_active {
		.buttonBackground(#448844, #A7CC28);
	}

	span.modulfach {
		position: absolute;
			bottom: 3px;
			left: 3px;
		font-weight: bold;
		font-size: 14px;
	}

	span.modulfach-lang {
		position: absolute;
			bottom: 0;
			left: 5px;
		font-weight: 300;
		font-size: 10px;
	}

	input.modulnote {
		width: 23px;
		height: 13px;

		padding: 2px;

		position: absolute;
			bottom: 3px;
			right: 3px;
		margin: 0;

		border: 1px solid grey;
		.border-radius(4px);
	}
}

.sm_red {
	.buttonBackground(#d67f6b, #d72c04);
	// .buttonBackground(#D95B44, #FF0000);
}

.sm_orange {
	.buttonBackground(#d6a26b, #d77104);
	// .buttonBackground(#FFA500, #D95B44);
}

.sm_yellow {
	.buttonBackground(#d6ba6b, #d79e04);
	// .buttonBackground(#FFA500, #FFFF00);
}

.sm_yellow-green {
	.buttonBackground(#d6cd6b, #d7c604);
	// .buttonBackground(#FFFF00, #A7CC28);
}

.sm_green {
	.buttonBackground(#c1d66b, #acd704);
	// .buttonBackground(#A7CC28, #448844);
}

.semestermodul_placeholder {
	position: relative;
	height: @stupla-modul_height;
	background-color: @stupla-modul_color-placeholder;
	margin-top: 5px;
	margin-bottom: 5px;
	.border-radius(4px);
}

// ---------------------------------------------------------

form#studienplan-form {
	
	.table {
		table-layout: fixed;

		thead th {
			vertical-align: top;

			h4 {
				border-bottom: 1px solid #DDD;
			}
		}
	}
}


div#stundenplan {
	
	.table {
		table-layout: fixed;

		thead th {

			h4 {
				
			}
		}
	}
}


.zero-sem-bg {
	// background: red;
	background: url(../img/zero-sem-bg.png) repeat;
}



.std-rel { position: relative; }
.std-abs { position: absolute; }

.std-col {
	width: 18%;
/* 		margin-right: 20px; */
}

.std-col-legend {
	width: 10%;
}

.std-event {
	// overflow: hidden;
	// border: 1px #FAFAFA solid;
	// color: #fff;

	overflow: hidden;
	color: #fff;
	display: block;
	
	&:hover {
		text-decoration: none;
	}
}

.std-event-container {
	padding: 4px;
	word-break: break-word;
}

#stundenplan .table-condensed td.std-time-cell {
	padding: 0;
	background-image: url('../img/std-time-stripes-50.png');
}










// --------------------------------------------------------



// .semester_ueberschrift {
// 	display: block;
// }



// form#create_user input {
// 	display: block;
// }

// #user_cr_search {
// 	float: right;
// }




// div#studentdata {
// 	display: none;
// }





// --------------------------------------------------------

/* footer menu */
div#menuefooter {
	background-color: #2C2C2C;
	color: white;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;

	width: 940px;
	position: fixed;
	bottom: 0;
	z-index: 9999;

	#menuefooter_button {
		width: 940px;
		padding-top: 10px;
		height: 25px;
		cursor: pointer;

		#toggle_button {
			text-align: center;
			background-color: red;
			float: left;
			width: 70px;
			height: 50px;
			margin-left: 30px;
		}

		.up {
			margin-top: -30px;
			padding-top: 10px;
		}
	}

	#menuefooter_content {
		display: none;
		height: 0px;
		// padding: 50px;

		#mf_content {
			width: 700px;
			margin: 0 auto;
		}
	}
}

// --------------------------------------------------------

div.val_error {
	color: red;
}


// fixed header for tables
table .header-fixed {
  position: fixed;
  top: 40px;
  left: 0; 
  right: 0;
  z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
  border-bottom: 1px solid #d5d5d5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
     -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
}




// --------------------------------------------------------

// rotated table-header for lab-mgt
/*.thead-labmgt {    
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	
	font-size: 10px;
	vertical-align:bottom;
}*/

// centered checkboxes
td .lab-cb{
	margin: auto;
	display: table-caption;
}



